<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Traducteur</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../javascript/services.js">
</head>

<body>
    <div>
        <div class="background-image"></div>
        <div class="white">
        </div>
        <div class="intro">
            <h1>Perso traduction</h1>
            <div id="bright">
            </div>
            <p class="message">Ceci est un projet personnel que j'ai décidé de faire pour agrandir mes connaissances en
                programmation et mettre dans mon portfolio. Ce n'est pas à but lucratif</p>
        </div>
        <div class="texts">
            <form action="/" method="POST" id="formTrad">
                <div class="first-text">
                    <label for="original text" class="firstLabel"> Texte Originale</label>
                    <select name="langueO" id="langueO">
                        <option value="choix">Choisissez la langue</option>
                        <option value="fr">Français</option>
                        <option value="en">Anglais</option>
                        <option value="de">Allemand</option>
                    </select>
                    <br>
                    <textarea name="original" id="nonTrad" cols="30" rows="10"></textarea>
                    
                    <div class="second-text">

                        <label for="translated-text" class="secondLabel"> Texte traduit</label>
                        <select name="langueT" id="langueT">
                            <option value="choix">Choisissez la langue</option>
                            <option value="fr">Français</option>
                            <option value="en">Anglais</option>
                            <option value="de">Allemand</option>
                        </select>
                        <br>
                        <textarea name="translated" id="ouiTrad" cols="30" rows="10" background-color="white" disabled class="form-control no-gray" >
                        <% if(resultat != null) { %>
                            <%=resultat%><% } %>
                        <% if(error != null){ %>
                            <%= error %>
                          <% } %>
                        </textarea> <br>
                    </div>

                    <input type="submit" class="ghost-button" value="Traduire">

                </div>
            </form>
        </div>
    </div>
</body>

</html>