
.background-image {
    background-image: url(world-background.jpeg);
    filter: blur(4px);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; 
    position: fixed;   
}


.intro
 {

    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.message {
    padding-right: 400px;
    font-weight: bolder;
    padding-left: 400px;
    text-align: center;
}

.white {
    background-color: white;
    position: absolute;
    background-position: center;
   margin-right: auto;
   margin-left: auto;
   width: 800px;
   height: 700px;
   left: 80px;
   right: 80px;
   text-align: center;
}


#bright {
    box-shadow: inset 0px 4px 14px black;

    border-radius: 95px;

    background:transparent url(flag-coll.jpg) no-repeat center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.texts {
    padding-top: 400px;
    position: relative;
    padding-left: 397px;
   
}

.first-text{
    float: left;
}

textarea {
    resize: none;
}

label {
    font-weight: bolder;
}

.first-text .firstLabel {
    margin-right: 12px;
}

.second-text {
    padding-right: 360px;
    float: right;
    padding-bottom: 30px;
}

.second-text .secondLabel {
    margin-right: 31px;
    padding-top: 20px;
}